<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.infinispan" level="INFO"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>