/* ----------------------------------------------------------------------
*FileName: 		ezAudit.css
*Description:	Default structure of pages on ezAudit
*Version:		1.0 (2012-09-26)
*Project:		ezAudit
*Author:		Sergey Shpak
---------------------------------------------------------------------- */

/*** COLOR SCHEMES  ***/
/* Color and bg settings */

/* Green */
header li.green.selected,header li.green:hover {
	background-color: #68963f !important;
}

header li.green ul {
	background-color: #68963f;
}

.submenu li.green.selected {
	background-color: #68963f;
}

.submenu li.green.selected a {
	color: #FFF;
}

.submenu li.green.selected.marked {
	border-left-color: #82b157;
}

.submenu li.green.title {
	color: #68963f;
}

.page.green a {
	color: #68963f;
}

.page.green th {
	background-color: #68963f;
}
.page.green tf {
	background-color: #68963f;
}

.page.green input[type=button],button {
	background-color: #68963f;
	color: #FFF;
}

.page.green table th {
	background-color: #68963f;
	color: #FFF;
}

.page.green table tf {
	background-color: #68963f;
} 
.page.green .ui-paginator-rpp-options{
	background-color: #68963f !important;
	color: #FFF !important;
}


.page.green .ui-paginator{
	background-color: #68963f !important;
	color: #FFF !important;
}
.page.green .ui-button{
	background-color: #68963f;
}
.page.green .ui-button-text{
	color: #FFF;
}

/* Blue */
header li.blue.selected,header li.blue:hover {
	background-color: #2b9db6 !important;
}

header li.blue ul {
	background-color: #2b9db6;
}

.submenu li.blue.selected {
	background-color: #2b9db6;
}

.submenu li.blue.selected a {
	color: #FFF;
}

.submenu li.blue.selected.marked {
	border-left-color: #44b4cd;
}

.submenu li.blue.title {
	color: #2b9db6;
}

.page.blue a {
	color: #2b9db6;
}

.page.blue th {
	background-color: #2b9db6;
}

.page.blue input[type=button],button {
	background-color: #2b9db6;
	color: #FFF;
}

.page.blue table th {
	background-color: #2b9db6;
	color: #FFF;
}
.page.blue table tf {
	background-color: #2b9db6;
} 
.page.blue .ui-paginator-rpp-options{
	background-color: #2b9db6 !important;
	color: #FFF !important;
}



.page.blue .ui-paginator{
	background-color: #2b9db6 !important;
	color: #FFF !important;
}

.page.blue .ui-button{
	background-color: #2b9db6;
}

.page.blue .ui-button-text{
	color: #FFF;
}

/* Red */
header li.red.selected,header li.red:hover {
	background-color: #A13E1D !important;
}

header li.red ul {
	background-color: #A13E1D;
}

.submenu li.red.selected {
	background-color: #A13E1D;
}

.submenu li.red.selected a {
	color: #FFF;
}

.submenu li.red.selected.marked {
	border-left-color: #b8593a;
}

.submenu li.red.title {
	color: #A13E1D;
}

.page.red a {
	color: #A13E1D;
}

.page.red th {
	background-color: #A13E1D;
}

.page.red input[type=button],button {
	background-color: #A13E1D;
	color: #FFF;
}

.page.red table th {
	background-color: #A13E1D;
	color: #FFF;
}
.page.red table tf {
	background-color: #A13E1D;
} 
.page.red .ui-paginator-rpp-options{
	background-color: #A13E1D !important;
	color: #FFF !important;
}



.page.red .ui-paginator{
	background-color: #A13E1D !important;
	color: #FFF !important;
}
.page.red .ui-button{
	background-color: #A13E1D;
}

.page.red .ui-button-text{
	color: #FFF;
}

/* Orange */
header li.orange.selected,header li.orange:hover {
	background-color: #E87511 !important;
}

header li.orange ul {
	background-color: #E87511;
}

.submenu li.orange.selected {
	background-color: #E87511;
}

.submenu li.orange.selected a {
	color: #FFF;
}

.submenu li.orange.selected.marked {
	border-left-color: #ff8d2a;
}

.submenu li.orange.title {
	color: #E87511;
}

.page.orange a {
	color: #E87511;
}

.page.orange th {
	background-color: #E87511;
}

.page.orange input[type=button],button {
	background-color: #E87511;
	color: #FFF;
}

.page.orange table th {
	background-color: #E87511;
	color: #FFF;
}
.page.orange table tf {
	background-color: #E87511;
} 
.page.orange .ui-paginator-rpp-options{
	background-color: #E87511 !important;
	color: #FFF !important;
}



.page.orange .ui-paginator{
	background-color: #E87511 !important;
	color: #FFF !important;
}

.page.orange .ui-button{
	background-color: #E87511;
}

.page.orange .ui-button-text{
	color: #FFF;
}

/* Yellow */
header li.yellow.selected,header li.yellow:hover {
	background-color: #ffde2a !important;
}

header li.yellow ul {
	background-color: #ffde2a;
}

.submenu li.yellow.selected {
	background-color: #ffde2a;
}

.submenu li.yellow.selected a {
	color: #FFF;
}

.submenu li.yellow.selected.marked {
	border-left-color: #ff8d2a;
}

.submenu li.yellow.title {
	color: #ffde2a;
}

.page.yellow a {
	color: #ffde2a;
}

.page.yellow th {
	background-color: #ffde2a;
}

.page.yellow input[type=button],button {
	background-color: #ffde2a;
	color: #FFF;
}

.page.yellow table th {
	background-color: #ffde2a;
	color: #FFF;
}
.page.yellow table tf {
	background-color: #ffde2a;
} 
.page.yellow .ui-paginator-rpp-options{
	background-color: #ffde2a !important;
	color: #FFF !important;
}



.page.yellow .ui-paginator{
	background-color: #ffde2a !important;
	color: #FFF !important;
}

.page.yellow .ui-button{
	background-color: #ffde2a;
}

.page.yellow .ui-button-text{
	color: #FFF;
}

/* Light Blue */
header li.lightBLue.selected,header li.lightBLue:hover {
	background-color: #4ac7e2 !important;
}

header li.lightBLue ul {
	background-color: #4ac7e2;
}

.submenu li.lightBLue.selected {
	background-color: #4ac7e2;
}

.submenu li.lightBLue.selected a {
	color: #FFF;
}

.submenu li.lightBLue.selected.marked {
	border-left-color: #6ed7ee;
}

.submenu li.lightBLue.title {
	color: #4ac7e2;
}

.page.lightBLue a {
	color: #4ac7e2;
}

.page.lightBLue th {
	background-color: #4ac7e2;
}

.page.lightBLue input[type=button],button {
	background-color: #4ac7e2;
	color: #FFF;
}

.page.lightBLue table th {
	background-color: #4ac7e2;
	color: #FFF;
}
.page.lightBLue table tf {
	background-color: #4ac7e2;
} 
.page.lightBLue .ui-paginator-rpp-options{
	background-color: #4ac7e2 !important;
	color: #FFF !important;
}


.page.lightBLue .ui-paginator{
	background-color: #4ac7e2 !important;
	color: #FFF !important;
}
.page.lightBLue .ui-button{
	background-color: #4ac7e2;
}

.page.lightBLue .ui-button-text{
	color: #FFF;
}

/* Purple */
header li.purple.selected,header li.purple:hover {
	background-color: #a546d6 !important;
}

header li.purple ul {
	background-color: #a546d6;
}

.submenu li.purple.selected {
	background-color: #a546d6;
}

.submenu li.purple.selected a {
	color: #FFF;
}

.submenu li.purple.selected.marked {
	border-left-color: #bb66e7;
}

.submenu li.purple.title {
	color: #a546d6;
}

.page.purple a {
	color: #a546d6;
}

.page.purple th {
	background-color: #a546d6;
}

.page.purple input[type=button],button {
	background-color: #a546d6;
	color: #FFF;
}

.page.purple table th {
	background-color: #a546d6;
	color: #FFF;
}
.page.purple table tf {
	background-color: #a546d6;
} 
.page.purple .ui-paginator-rpp-options{
	background-color: #a546d6 !important;
	color: #FFF !important;
}



.page.purple .ui-paginator{
	background-color: #a546d6 !important;
	color: #FFF !important;
}
.page.purple .ui-button{
	background-color: #a546d6;
}

.page.purple .ui-button-text{
	color: #FFF;
}


/* Brown */
header li.brown.selected,header li.brown:hover {
	background-color: #B37016 !important;
}

header li.brown ul {
	background-color: #B37016;
}

.submenu li.brown.selected {
	background-color: #B37016;
}

.submenu li.brown.selected a {
	color: #FFF;
}

.submenu li.brown.selected.marked {
	border-left-color: #E2A755;
}

.submenu li.brown.title {
	color: #B37016;
}

.page.brown a {
	color: #B37016;
}

.page.brown th {
	background-color: #B37016;
}

.page.brown input[type=button],button {
	background-color: #B37016;
	color: #FFF;
}

.page.brown table th {
	background-color: #B37016;
	color: #FFF;
}
.page.brown table tf {
	background-color: #B37016;
} 
.page.brown .ui-paginator-rpp-options{
	background-color: #B37016 !important;
	color: #FFF !important;
}


.page.brown .ui-paginator{
	background-color: #B37016 !important;
	color: #FFF !important;
}
.page.brown .ui-button{
	background-color: #B37016;
}

.page.brown .ui-button-text{
	color: #FFF;
}