/* ----------------------------------------------------------------------
*FileName: 		ezAudit.css
*Description:	Default structure of pages on ezAudit
*Version:		1.0 (2012-09-26)
*Project:		ezAudit
*Author:		Sergey Shpak
---------------------------------------------------------------------- */

/* Dev info */
.dev_info {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 300px;
	opacity: 0.6;
	font-size: 10px;
	z-index: 100;
	background: #EDEDED;
}

/* Main styles */
html,body {
	height: 100%;
}

Body {
	background: #EDEDED;
	font-family: MuseoSans500, sans-serif;
	color: #222;
	font-size: 12px;
	line-height: 1.231;
}
/* Links */
a:link {
	
}

a:visited {
	
}

a:hover {
	
}

a:active {
	
}

/* Headers */
h1 {
	font-family: "Times New Roman", "TrebuchetMS";
	font-size: 32px;
	padding: 10px 5px 5px;
}

h2 {
	font-family: "Times New Roman", "TrebuchetMS";
	padding: 10px 5px 5px 5px;
	font-size: 24px;
	font-weight: normal;
}

h3 {
	font-family: "Times New Roman", "TrebuchetMS";
	padding: 5px 5px 2px 5px;
	font-size: 14px;
	text-transform: uppercase;
}

h4 {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

h5 {
	
}

h6 {
	
}

p{
	line-height: 16px;
	padding: 5px;
	margin: 0 0 10px 0;
}
.form{
	padding: 10px;
	background: #FFF;
	margin: 0 0 10px 0;
}
table{
	width: 100%;
}
table th{
	padding: 10px;
	text-align: left;
}
label{
	text-transform: uppercase;
}
input[type=button], button{
	padding: 10px;
	border: none;
	cursor: pointer;
}
input[type=text]{
	padding: 10px;
	border: 1px solid #CCC;
}

/* Header */
header {
	height: 135px;
	position: absolute;
	width: 100%;
}
/* Navigation Styles */
header .navigation {
	width: 100%;
	height: 135px;
	margin: 0 auto;
	z-index: 10;
	position: absolute;
}
/* style for sticky navigation */
header .navigation.sticky {
	position: fixed;
	z-index: 100;
}

/* Menu */
/* Logotype */
header .menu {
	width: 960px;
	height:90px;
	margin: 0 auto;
	background: #EDEDED;
}

header .menu ul{
	letter-spacing  :-4px; /*Remove the letter spacing*/
}
header .menu ul li{
	letter-spacing  :0px; /*Remove the letter spacing*/
}
header .menu .logotype{
	width: 198px;
	height: 60px;
	padding: 30px 0 0 40px;
	float:left;
	clear:right;
	border-left: 1px solid #716F67;
	border-right: 1px solid #716F67;
	background: #FFF;
}
	header .menu .logotype a {
		
	}
	
/* Menu List */
header .menu .menuList{
	float: left;
	clear: right;
	margin: 0 -1px 0 0;
	width:480px;
}
	header .menu .menuList li {
		display: inline-block;
		vertical-align: top;
		width: 239px;
		height: 90px;
	}	
		header .menu .menuList li a {
			display: block;
			font-size: 19px;
			color: #565655;
			text-shadow: 0 1px #FFF;
			text-decoration: none;
			padding: 42px 0 25px 30px;
		}
	header .menu li:hover a,header .menu li.selected a {
		color: #FFF;
		text-shadow: none;
	}	
/* Custom List */		
header .menu .custom{
	float: right;
	clear: right;
	width:240px;
	border-left: 1px solid #716F67;
}
	header .menu .custom li{
		display: block;
		height: 45px;
	}
	header .menu .custom li.help{
		height: 44px;
		border-bottom: 1px solid #716F67;
	}
	header .menu .custom li a{
		display:block;
		font-size: 19px;
		color: #565655;
		text-shadow: 0 1px white;
		text-decoration: none;
		padding: 11px 0 10px 30px;
	}
	header .menu .custom li:hover a, header .menu .custom li.selected a{
		color: #FFF;
		text-shadow: none;
	}
	header .menu .custom li ul{
		padding-top: 11px;
		padding-bottom: 10px;
	}


/* Visual effects for items */
header .menu li {
	border-right: 1px solid #716F67;
	-webkit-box-shadow: inset 1px 0 #fff;
	-moz-box-shadow: inset 1px 0 #fff;
	box-shadow: inset 1px 0 #fff;
}

header .menu li:hover {
	-webkit-box-shadow: inset 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 1px 0 rgba(255, 255, 255, 0.5);
}

header .menu li.assistance:hover {
	-webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}
	header .menu li.assistance li{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	header .menu li.assistance li:hover{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

/* Color and bg settings */
header .menu li.assistance {
	background: url(#{resource['ezui:gfx/dropDownArrow.png']}) 200px
		20px no-repeat;
}

header .menu li.assistance:hover {
	background: url(#{resource['ezui:gfx/dropDownArrowRed.png']})
		200px 20px no-repeat;
}

header .menu li.chat {
	background:
		url(#{resource['ezui:gfx/mainNavGetAssistanceChat.png']}) 27px
		12px no-repeat;
}

header .menu li.findAss {
	background:
		url(#{resource['ezui:gfx/mainNavGetAssistanceLocal.png']}) 27px
		12px no-repeat;
}

header .menu li.call {
	background:
		url(#{resource['ezui:gfx/mainNavGetAssistancePhone.png']}) 26px
		12px no-repeat;
}

/* Assistance drop-down */
header .menu li.assistance {
	position: relative;
}

header .menu li.assistance ul {
	display: none;
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 11;
	width: 239px;
	padding: 0 0 15px 0;
}

header .menu li.assistance ul li {
	display: block;
	height: auto;
	width: auto;
	border: 0;
	padding: 15px 0 0 55px;
}
header .menu li.assistance ul a {
	display: block;
	padding: 0;
	font-size: 16px;
	color: #FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

header .menu li.assistance ul li:hover a {
	text-decoration: underline;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

header .menu li.assistance ul li.call a {
	text-decoration: none;
}

header .menu li.assistance ul li.group {
	border-top: 1px dotted #FFF;
}

header .menu li.assistance ul li.group:last-child {
	margin-top: 15px;
}

header .menu li.assistance:hover ul {
	display: block;
}

/* Navigation Toolbar */
.navigation_toolbar {
	position: absolute;
	top: 75px;
	height: 15px;
	width: 100%;
	background: url(#{resource['ezui:gfx/upArrow.png']}) center center
		no-repeat #CCC;
	display: none;
}

header .navigation.sticky .navigation_toolbar {
	display: block;
}

/* User Info block */
.userInfo {
	width: 960px;
	height: 43px;
	background-color: #000;
	color: #FFF;
	margin: 0 auto;
	border-top: 1px solid #4c4c4c;
	border-bottom: 1px solid #000;
	background-image: -ms-linear-gradient(top, #575757 0%, #323232 100%);
	/* IE10 Consumer Preview */
	background-image: -moz-linear-gradient(top, #575757 0%, #323232 100%);
	/* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #575757 0%, #323232 100%);
	/* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #575757),
		color-stop(1, #323232) ); /* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #575757 0%, #323232 100%);
	/* Webkit (Chrome 11+) */
	background-image: linear-gradient(to bottom, #575757 0%, #323232 100%);
	/* W3C Markup, IE10 Release Preview */
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
}

.userInfo .userName {
	padding: 13px 0 0 30px;
	vertical-align: top;
	display: inline-block;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
}

.userInfo .userControlPanel {
	vertical-align: top;
	display: inline-block;
	padding: 14px 0 11px 10px;
	margin: 0 0 0 30px;
	background:
		url(#{resource['ezui:gfx/utilityNavBackgroundInsetShadowLeft.png']})
		no-repeat;
	font-size: 13px;
	line-height: 1.4;
}

.userInfo .userControlPanel a,.userInfo .userControlPanel div {
	text-decoration: none;
	color: #FFF;
	padding: 0 0 0 15px;
}

/* Content */
.content{
	position: relative;
	width: 958px;
	min-height: 100%;
	margin: 0 auto;
	border-right: 1px solid #A3A199;
	border-left: 1px solid #A3A199;
	z-index: 0;
	letter-spacing  :-4px; /*Remove the letter spacing*/
}
.content.twoColumn {
	background: url(#{resource['ezui:gfx/dot.jpg']}) 237px 0 repeat-y;
	
}
/* sub-menu*/
.content .submenu {
	vertical-align: top;
	display: inline-block;
	width: 238px;
	z-index: 1;
	min-height: 100%;
	letter-spacing  :0px; /*Remove the letter spacing*/
}

.content .submenu ul {
	margin: 135px 0 160px 0;
	border-right: 1px solid #A3A199;
	letter-spacing  :-4px; /*Remove the letter spacing*/
}

.content .submenu li {
	border-bottom: 1px solid #A3A199;
	letter-spacing  :0px; /*Put back the letter spacing*/ 
}
	.content .submenu li.selected.marked{
		border-left-width: 10px;
		border-left-color: #CCC;
		border-left-style: solid;
	}
	.content .submenu li.checked{
		background: url(#{resource['ezui:gfx/subNavigationCheckGrey.png']}) 6px 15px no-repeat;
	}
	.content .submenu li.disabled{
		background: none !important;
	}
		.content .submenu li.disabled a{
			color:#999 !important;
		}
		

.content .submenu a {
	display: block;
	padding: 15px 30px;
	width: 180px;
	font-size: 16px;
	color: #444;
	text-decoration: none;
}
	.content .submenu li.selected.marked a{
		padding: 15px 30px 15px 20px;	
	}
.content .submenu li.title {
	color: #6E9F43;
	padding: 40px 30px 15px;
}

.content .page{
	vertical-align: top;
	display: inline-block;
	padding: 135px 0 160px 0;
	letter-spacing  :0px; /*Remove the letter spacing*/
}
.content .page.oneColumn{
		width: 958px;
		background: #EDEDED;
		min-height: 100%;
}
.content .page.twoColumn{
		width: 720px;
}
.content .page .pageContent{
	padding:20px;
}
/* Footer */
footer {
	position: relative;
	margin: -122px 0 0 0;
	width: 100%;
	z-index: 10;
}

footer ul {
	width: 960px;
	padding: 20px 0;
	margin: 0 auto;
	background: #353535;
	letter-spacing  :-4px; /*Remove the letter spacing*/
}

footer li {
	vertical-align: top;
	display: inline-block;
	line-height: 1.8;
	width: 320px;
	color: #FFF;
	letter-spacing  :0px; /*Put back the letter spacing*/ 
}

footer li:first-child {
	width: 620px;
	padding: 0 0 0 20px;
}

footer li h2 {
	padding: 0 0 0 10px;
}

footer li h4 {
	color: #a8a69d;
}

footer .links {
	padding: 10px 0 0 0;
	line-height: 1.231;
}

footer .links a {
	display: inline-block;
	color: #a8a69d;
	padding: 0 10px;
	border-left: 1px solid #a8a69d;
}

footer .links a:first-child {
	border: none;
}

#loading{
	background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 90;
    text-align: center;
}

#loading img{
	position: fixed;
	top: 30%;
	left: 50%;
	margin:-10px 0 0 -10px; 
}


